@import "tailwindcss";

:root {
  --background: #fdfbfb;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ffb6c1;
  --color-primary-dark: #f0a0ac;
  --color-secondary: #fce4ec;
  --color-accent: #ffccd5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}
